/* Use your own code or past solution for Great Idea Web Page CSS here! */


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}


 body{
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */
/* variables & animations */



/* elements */
	
	 h2{
		font-size:3.5em;
	}
	 p{
		font-size:2em;
	}
	

/* -----Header Start----- */
        
    /* nav elements */
        .nav-logo-grp{
            display:flex;
            flex-direction:row-reverse;
            
        }
         .logo{
            flex-order:1;
        }
		nav{
			display:flex;
            font-size:2.5em;
            height:5vh;
            justify-content: space-between;
            align-items: center;
            margin:0 2%;
            width:80%;
		}
		header nav a{
			border-bottom:5px solid transparent;
			color:grey;
			vertical-align:center;
			text-decoration:none;
			transition: all 200ms ease-out;
		} 
		header nav a:hover{
			box-sizing: border-box;
			border-bottom:5px grey solid;
			color:rgb(89, 82, 131);
			font-weight:800;	
		}	
	/* header landing */
		.landing{
			display:flex;
			justify-content:space-evenly;
			padding:5%;
		}
		.header-and-button{
			display:flex;
			flex-direction:column;
			font-size:8em;
		}
		.header-and-button h1{
			display:flex;
			flex-direction: column;
			letter-spacing:10px;
			text-align:center;
		}
		.header-and-button button{
			background-color:rgb(250, 249, 249);
			border:2px black solid;
			display:inline-block;
			font-size:.2em;
            align-self:center;
            justify-self:center;
			height:5vh;
			letter-spacing: .1em;
			margin-top:10%;
			width: 60%;			
		}
		.landing-img img{
			width:600px;
		}
/* ******Header End******** */

/* ----Main Content start-------- */
	.main-content{
		margin:0 10%;
	}
		
	/* features and About section */
		.features-about-block{
			border-top:4px black solid;
			display:flex;
			justify-content:space-between;
			padding-top:5%;
		}
		.features-about-block div{
			display:flex;
			flex-direction: column;
			justify-content:space-around;
			height:20vh;
			width:40%;
		}

	/* Main content Image */
		.middle-img{
			padding:5% 0;
			width:100%;
		}

	/* Services, products, vision section */
		.services-product-vision-block{
			border-bottom:4px black solid;
			display:flex;
			justify-content: space-between;
			padding-bottom:5%;

		}
		.services-product-vision-block div{
			display:inline-block;
			width:30%;
		}
		
	/* contact section */

		.contact{
			display:flex;
			flex-direction:column;
        }
        .contact > *{
            margin-top:1.5em;
        }
		.contact a{
			font-size: 2em;
			text-decoration:none;
			color:grey;
		}			
		.tele::before{
			content:"Call us: ";
		}
		.email::before{
			content: "Email: ";
		}
/* ******Main content end******* */
/* footer */
	footer{
		margin-top:2%;
		text-align:center;
	}	





/* -----------End of HTML Body--------- */
 /* Media queries */


 /* Tablet media query */


 /* Mobile Media Query */
@media (max-width:1000px){
    :root{
        font-size:12px;
    }
    .nav-logo-grp{
        font-size:1.4rem;
        flex-flow:row wrap;
        justify-content:center;    
    }
    .logo{
        margin-bottom:1em;
    }
	.services-navbar{
		justify-content: center;
	}
	nav a{
		font-size: .5em;
		margin:0 .5% 0;
	}

    .landing-img{
        display:none;
    }
}
	/* .section-main-wrapper{
        font-size:.7em;
		flex-flow: column nowrap;
		align-items:center;
	}
	.section-main-wrapper .box{
		align-items: center;
		width:90%
	}
	.box button{
		align-self:center;
		width:75%;
	}
} */
@media (max-width:900px){
    
    .nav-logo-grp{
        flex-direction: column;
         height:50vh;
        justify-content: flex-start;
        align-content:center;
    }
    .logo{
        width:25%;
        align-self:center;

    }
    nav{
        text-align: center;
        height:40vh;
        display:flex;
        flex-direction:column;
        width:100%;
    }
    nav a{
        display:block;
        width:100%;
        border-top:2px grey solid;
        padding:3%;
    }
    nav a:last-of-type{
        border-bottom:2px grey solid;
    }
    .la
    .features-about-block,
    .services-product-vision-block{
        flex-flow:column wrap;
    }
    .features-about-block > div,
    .services-product-vision-block > div{
        min-width:100%;
    }
 
}